:root {
    --botonBuscar: #00bde0;
    --color-textos: white;
}

* {
    font-family: 'Muli';
}


/*SE TIENE QUE ELIMINAR*/


/*.container {
    border: 1px solid red;
}*/

body {
    background-image: url(../img/mobile/fondo-mobile.png);
}

.logo {
    background-image: url(../img/mobile/logo-mobile.png);
    width: 16.813em;
    height: 4.313em;
    margin: 3.5em auto;
    background-size: 100% 100%;
    z-index: 2;
}

main {
    margin: 1em;
    margin-top: 5em;
}


/*Textos home*/

main p {
    color: var(--color-textos);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

main .frase p {
    margin-bottom: 2em;
}

main .eslogan p {
    margin-top: 13em;
}


/*Formulario home*/

input[type=text] {
    border: 1px solid var(--color-textos) !important;
    border-radius: 4px !important;
    background-color: transparent !important;
    color: var(--color-textos) !important;
    height: 50px;
}

input[type=text]::placeholder {
    color: var(--color-textos) !important;
    font-size: 18px;
    font-weight: 400;
}

button[type=submit] {
    background-color: var(--botonBuscar) !important;
    border-radius: 4px !important;
    border: none;
    color: var(--color-textos) !important;
    font-size: 24px;
    font-weight: 700;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

form button .lupa {
    background-image: url(../img/mobile/lupa-mobile.svg);
    background-color: var(--color-textos);
    width: 36px;
    height: 36px;
}


/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    body {
        background-image: url(../img/desktop/fondo-desktop.jpg);
    }
    .logo {
        background-image: url(../img/desktop/logo-desktop.png);
        width: 38.625em;
        height: 9.875em;
        margin: 4em auto;
    }
    .container {
        max-width: 700px;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    .logo {
        background-image: url(../img/desktop/logo-desktop.png);
        background-image: no-repeat;
        background-image: fixed;
        background-image: center;
        background-size: cover;
        width: 38.625em;
        height: 9.875em;
        margin: 4em auto;
    }
    .container {
        max-width: 700px;
    }
    main .eslogan p {
        margin-top: 10em;
    }
}