/*Definición de colores*/

:root {
    --botonBuscar: #00bde0;
    --color-textos: white;
    --fondo-html: #372019;
    --fondo-temperaturas: #306c77;
    --fondo-resultados: rgba(48, 108, 119, 0.7);
    --hover-link: #444444;
}

* {
    font-family: 'Muli';
}

body {
    background: url(../img/mobile/fondo-mobile.png), var(--fondo-html);
    background-repeat: no-repeat, repeat;
    z-index: 2;
}

p {
    margin: 0;
}


/*----------Estilos home--------------*/


/*Logo*/

.logo {
    background-image: url(../img/mobile/logo-mobile.png);
    width: 16.813em;
    height: 4.313em;
    margin: 3.5em auto;
    background-size: 100% 100%;
}


/*Contenido */

.home {
    margin: 1em;
    margin-top: 5em;
}


/*Textos */

.home p {
    color: var(--color-textos);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}


/*Frase superior*/

.home .frase p {
    margin-bottom: 2em;
    text-align: center;
}


/*Eslogan*/

.home .eslogan p {
    margin-top: 13em;
}


/*Formulario*/

input[type=text] {
    border: 1px solid var(--color-textos) !important;
    border-radius: 4px !important;
    background-color: transparent !important;
    color: var(--color-textos) !important;
    height: 50px;
}

input[type=text]::placeholder {
    color: var(--color-textos) !important;
    font-size: 18px;
    font-weight: 400;
}

button[type=submit] {
    background-color: var(--botonBuscar) !important;
    border-radius: 4px !important;
    border: none;
    color: var(--color-textos) !important;
    font-size: 24px;
    font-weight: 700;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

form button .lupa {
    /*display: block;*/
    background-image: url(../img/mobile/lupa-mobile.svg);
    width: 2.250em;
    height: 2.250em;
}


/*-------------Estilos Resultados-----------------*/


/*Logo resultado*/

.logo-resultado {
    background-image: url(../img/mobile/logo-resultado-mobile.png);
    width: 16.813em;
    height: 4.313em;
    margin: 3.5em auto;
    background-size: 100% 100%;
}

.resultado {
    background-color: var(--fondo-resultados);
    margin-bottom: 1em;
}


/*Color de los textos*/

.resultado p {
    color: var(--color-textos);
}


/*información de la población*/

.resultado .busqueda-ciudad {
    justify-content: space-between;
}

.resultado .ciudad .info-cp,
.resultado .ciudad .info-ciudad {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.resultado .ciudad .info-cp span,
.resultado .ciudad .info-ciudad span {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}


/*Icono de buscar*/

.buscar .lupa {
    display: block;
    background: url(../img/mobile/lupa-mobile.svg);
    width: 2.250em;
    height: 2.250em;
}

.link-home {
    display: none;
}


/*Titulos resultados del tiempo*/

.resultado .resultados-tiempo .ahora .titulo p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


/*Iconos tiempo*/

.resultado .resultados-tiempo .ahora .tiempo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.resultado .resultados-tiempo .ahora .tiempo i {
    color: var(--color-textos);
    font-size: 65px;
}

.resultado .resultados-tiempo .ahora .tiempo-actual>div {
    padding: 0;
}


/*Fenómeno meteorológico actual*/

.resultado .resultados-tiempo .ahora .tiempo-actual .fenomeno {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    /*padding-top: 2em;*/
}


/*Temperatura actual*/

.resultado .resultados-tiempo .ahora .tiempo-actual .temperatura {
    font-size: 58px;
    font-weight: 300;
}


/*---Bloque tiempo 5 dias---*/

.dias5 {
    margin: 2em 0;
    border-top: 1px solid var(--color-textos);
}

.dias5 .titulo {
    margin: 1em 0;
}

.dias5-forecast {
    background-color: var(--fondo-temperaturas);
    position: relative !important;
    display: block;
}

.dias5-forecast .dia-forecast {
    padding: 0.5em 0.6em;
}

.dias5-forecast .dia-forecast i {
    color: var(--color-textos);
    font-size: 40px;
    padding-top: 1em;
    text-align: center;
}

.dias5-forecast .dia-forecast p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.dias5-forecast .dia-forecast p.temperatura {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}


/*Flechas slide*/

.carousel-controls .control {
    position: absolute;
    cursor: pointer;
    top: 56.4%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.prev {
    left: -1.2rem;
}

.next {
    right: -1.2rem;
}


/*---Bloque Top 5 Temperaturas---*/

.texto-top5,
.top5 {
    color: var(--color-textos);
}

.top5>div {
    padding: 0.5em 0;
}


/*Texto superior del bloque Top 5*/

.resultado .texto-top5 p {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}


/*Estilos lista de poblaciones*/

.top5 .numero-lista>p {
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    padding-top: 0.5em;
}


/*Estilos temperatura*/

.resultados .resultado .top5 .temperatura {
    font-size: 48px;
    font-weight: 300;
    line-height: 48px;
    padding: 0 0.25em;
    margin: 0;
}


/*Información población Top5*/

.resultados .resultado .top5 p.info-ciudad,
.resultados .resultado .top5 p.info-cp {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
}

.resultados .resultado .top5 p.info-cp span,
.resultados .resultado .top5 p.info-ciudad span {
    font-weight: 700;
}

.resultados .resultado .top5 p.info-ciudad span {
    font-size: 18px;
}


/*--------Responsive------------*/


/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    body {
        background-image: url(../img/desktop/fondo-desktop.jpg);
        background-position: center;
        background-size: cover;
    }
    .logo-resultado {
        background-image: url(../img/desktop/logo-resultado.png);
        width: 38.625em;
        height: 9.875em;
        margin: 4em auto;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    main .frase p {
        padding: 0 2em;
    }
    main .eslogan p {
        margin-top: 10em;
    }
    .logo-resultado {
        background-image: url(../img/desktop/logo-resultado.png);
        width: 38.625em;
        height: 9.875em;
        margin: 4em auto;
    }
    body {
        background-image: url(../img/desktop/fondo-desktop.jpg);
        background-position: center;
        background-size: cover;
    }
    .logo {
        background-image: url(../img/desktop/logo-desktop.png);
        width: 38.625em;
        height: 9.875em;
        margin: 4em auto;
    }
    .container {
        max-width: 700px;
    }
    .resultado {
        margin-left: 4em;
    }
    .busqueda-ciudad {
        justify-content: center !important;
        margin: 5em 0 !important;
    }
    .ciudad {
        margin-right: 10em;
    }
    .buscar {
        margin-right: 10em;
        display: flex;
    }
    .link-home {
        display: block;
        margin-left: 0.25em;
        text-decoration: underline;
        color: var(--color-textos);
    }
    .link-home :hover {
        color: var(--hover-link) !important;
    }
    .resultado .resultados-tiempo {
        display: flex;
        flex-direction: row;
        margin-top: 5em;
    }
    .resultado .resultados-tiempo .ahora .tiempo i {
        font-size: 85px;
    }
    .dias5 {
        margin: 0;
        padding-left: 5em;
        border-left: 1px solid var(--color-textos);
        border-top: 0px;
    }
    .dias5 .titulo {
        margin: 0;
    }
    .dias5-forecast {
        margin: 1em;
    }
    .resultados .resultado .top5 .temperatura {
        padding: 0 0.75em;
    }
    .col-lg-3 {
        max-width: 20% !important;
    }
}